<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification Failed</title>
    {% load static %}
    <link rel="stylesheet" type= "text/css" href="{% static 'css/verify.css' %}">
</head>

<body>
    <div class="container">
        <h2>Email Verification Failed</h2>
        <p>We were unable to verify your email. Please try again later or contact our support team for assistance.</p>
    </div>
</body>

</html>
